<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../../Module 1 - Basics/css/normalize css/normalize.css"
    />
    <link rel="stylesheet" href="photo-gallery.css" />
  </head>
  <body>
    <div class="gallery">
      <img
        src="/Module 2/exercises/images/annie-spratt-R3LcfTvcGWY-unsplash.jpg"
      />
      <img src="/Module 2/exercises/images/arturrro-GdTLaWamFHw-unsplash.jpg" />
      <img
        src="/Module 2/exercises/images/brooke-lark-HjWzkqW1dgI-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/brooke-lark-R18ecx07b3c-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/jay-wennington-N_Y88TWmGwA-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/joanie-simon-2r8BzVYZIeo-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/lily-banse--YHSwy6uqvk-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/odiseo-castrejon-1CsaVdwfIew-unsplash.jpg"
      />
      <img
        src="/Module 2/exercises/images/odiseo-castrejon-1SPu0KT-Ejg-unsplash.jpg"
      />
    </div>
  </body>
</html>
