<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="practice-flexbox.css" />
  </head>
  <body>
    <div class="container">
      <div class="box box-one">
        A
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt at
          dolores deserunt nihil. Doloremque nam quae nemo ea magnam aliquid
          facere, perspiciatis sed cum aperiam voluptatibus beatae corporis
          dolorem pariatur aspernatur possimus deserunt voluptatem minima
          ducimus omnis reiciendis et esse!
        </p>
      </div>
      <div class="box box-two">B</div>
      <div class="box box-three">C</div>
      <div class="box box-four">D</div>
      <div class="box box-five">E</div>
      <div class="box box-six">F</div>
    </div>
  </body>
</html>
