<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/Basics - Module 1/CSS/normalize css/normalize.css"
    />
    <link rel="stylesheet" href="box-model.css" />
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </body>
</html>

<!-- box model is how the browser renders elements on the page
    content is inside of padding which is inside of the border which is inside of the margin
        i.e. margin[border[padding[content]]]
        
    best practice to use margin to space elements due to margin collapsing, rather than doubling the intended space
    between two elements with padding. padding should be used to add space between the border and the content area
    of an element. -->
