<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="flex-box.css" />
  </head>
  <body>
    <div class="container">
      <div class="box box-one">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
    </div>
  </body>
</html>

<!-- Flexible Box Layout (i.e. FlexBox or Flex): used for laying out elements in one direction -->
<!-- Axes:
      Main (primary axis)
      Cross (secondary axis) -->
<!-- Aligning Items:
      justify-content: (along the main axis)
      align-items:(along the cross axis) -->
<!-- Sizing Items:
      flex-basis: (used to set the intial size of a flex item)---|
        applies to width when flex-direction is set to 'row' &   |
        height when flex-direction is set to 'column'            |
      flex-grow: (the growth factor)                             |
        ex: if flex:grow is set to 2 for box A & 1 for boxes B   |--- > Item Properties
        & C (2 + 1 + 1), the browser will divide the screen into |
        4 pieces and allocate those pieces accordingly (2:1:1)   |
      flex-shrink: (the shrink factor)---------------------------|
      flex: (all the above properties) -->
