<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="grid.css" />
  </head>
  <body>
    <div class="container">
      <div class="box box-one">A</div>
      <div class="box">B</div>
      <div class="box">C</div>
      <div class="box box-four">D</div>
    </div>
  </body>
</html>

<!-- grids are used to layout elements in both rows AND columns (i.e. a "grid") -->
<!-- Gap Properties:
      row-gap: 
      column-gap: 
      gap: -->
<!-- Placing Items:
      grid-row: 
      grid-column:
      grid-area -->
<!-- Placing Items In Named Areas:
      grid-template-areas
      grid-area -->
