<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="measurement-units.css" />
  </head>
  <body>
    <div class="box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quas
      officiis ipsam dolorum similique doloribus nostrum. Rem et ullam ratione.
    </div>
    <div></div>
  </body>
</html>

<!-- ABSOLUTE UNITS: px, pt, in, cm, mm -->
<!-- RELATIVE UNITS:
      % (relative to size of container)
      vw (viewport height), vh (viewport width) (relative to size of viewport)
      em, rem (relative to font size) -->
