<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="media-queries.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          sint quod, rerum eligendi officiis vel unde atque ratione nostrum
          doloremque maxime, ipsam nesciunt iusto quasi similique sequi. Sit,
          maiores error!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, cumque
          id perspiciatis officia possimus, corporis temporibus modi aut vel non
          dolorum ex exercitationem quas nesciunt saepe et quibusdam rem nisi.
        </p>
      </div>
    </div>
  </body>
</html>

<!-- with media queries we can provide different styles for different devices depending on their features -->
<!-- "Breakpoint" is defined as the point where our layout breaks when adjusting our screen -->
